<%- include('partials/header') %>
            <!-- Blackbaud Content Here -->
            <div id="s63">





 
                <h1>Register</h1>
                <p align="center">
                </p><form name="survey_1020" id="survey_1020" method="POST" action="/account/register">
                
                
                <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <% if(error && error.length > 0) { %>
                        <tr>
                            <td colspan="3">
                            <span class="ErrorMessage"><%= error %></span>
                            </td>
                        </tr>
                    <% } %>
                    <% if(success && success.length > 0) { %>
                        <tr>
                            <td colspan="3">
                            <span class="SuccessMessage"><%= success %></span>
                            </td>
                        </tr>
                    <% } %>
                <tr class="old-school" valign="top">
                
                
                
                <td class="req" width="5%" nowrap="nowrap" align="right">
                &nbsp;
                </td>
                
                
                <td>
                <span class="Explicit">Please provide your contact information below:</span><br>
                
                
                <table cellspacing="4" cellpadding="0" border="0">
                <tbody><tr style="position:absolute;left:-9999px">
                <td colspan="3">
                <input type="hidden" name="cons_info_component" id="cons_info_component" value="t">
                </td>
                </tr>
                
                
                
                
                <tr valign="bottom">
                <td width="1%">
                
                <p>&nbsp;</p>
                
                </td>
                <td>
                <p><label for="cons_title">Title:</label></p>
                </td>
                <td class="NetscapeFix">
                <select name="title" id="cons_title" size="1">
                <option></option>
                <option value="Mr.">Mr.</option>
                <option value="Ms.">Ms.</option>
                <option value="Mrs.">Mrs.</option>
                <option value="Miss">Miss</option>
                <option value="Dr.">Dr.</option>
                
                </select>
                <script type="text/javascript">
                var comp = new ObservableComponent('cons_title', '');
                comp.hide = function(_hidden)
                {
                var _display = _hidden ? 'none' : '';
                set_display ('cons_title_Row', _display);
                this.disable_submit_flag (_hidden);
                } 
                </script>
                <noscript><br/>Required</noscript>
                
                </td>
                </tr>
                
                
                <tr valign="bottom">
                <td width="1%">
                
                <p>*</p>
                
                </td>
                <td>
                <p><label for="cons_first_name">First Name: <span style="position:absolute;left:-9999px">Required</span></label></p>
                </td>
                <td class="NetscapeFix">
                <input type="text" name="firstname" id="cons_first_name" value="" size="24" maxlength="50">
                </td>
                </tr>
                
                
                
                <tr valign="bottom">
                <td width="1%">
                
                <p>*</p>
                
                </td>
                <td>
                <p><label for="cons_last_name">Last Name: <span style="position:absolute;left:-9999px">Required</span></label></p>
                </td>
                <td class="NetscapeFix">
                <input type="text" name="lastname" id="cons_last_name" value="" size="24" maxlength="50">
                </td>
                </tr>
                
                
                <tr valign="bottom">
                <td width="1%">
                <p>&nbsp;</p>
                </td>
                <td>
                <p><label for="cons_suffix">Suffix: </label></p>
                </td>
                <td class="NetscapeFix">
                <select name="suffix" id="cons_suffix" size="1">
                <option></option>
                <option value="Sr.">Sr.</option>
                <option value="Jr.">Jr.</option>
                <option value="II">II</option>
                <option value="III">III</option>
                <option value="IV">IV</option>
                <option value="V">V</option>
                
                </select>
                <script type="text/javascript">
                var comp = new ObservableComponent('cons_suffix', '');
                comp.hide = function(_hidden)
                {
                var _display = _hidden ? 'none' : '';
                set_display ('cons_suffix_Row', _display);
                this.disable_submit_flag (_hidden);
                } 
                </script>
                <noscript><br/>Required</noscript>
                
                </td>
                </tr>
                
                
                <tr valign="bottom">
                <td width="1%">
                <p>&nbsp;</p>
                </td>
                <td>
                <p><label for="cons_prof_suffix">Professional Suffix: </label></p>
                </td>
                <td class="NetscapeFix">
                <select name="professionalSuffix" id="cons_prof_suffix" size="1">
                <option></option>
                <option value="Esq.">Esq.</option>
                <option value="JD">JD</option>
                <option value="MD">MD</option>
                <option value="PhD">PhD</option>
                <option value="DO">DO</option>
                <option value="DDS">DDS</option>
                <option value="DVM">DVM</option>
                <option value="PE">PE</option>
                
                </select>
                <script type="text/javascript">
                var comp = new ObservableComponent('cons_prof_suffix', '');
                comp.hide = function(_hidden)
                {
                var _display = _hidden ? 'none' : '';
                set_display ('cons_prof_suffix_Row', _display);
                this.disable_submit_flag (_hidden);
                } 
                </script>
                <noscript><br/>Required</noscript>
                
                </td>
                </tr>
                
                
                
                
                
                <tr>
                <td width="1%">
                
                <p>*</p>
                
                </td>
                <td nowrap="nowrap">
                <p><label for="cons_email">Email: <span style="position:absolute;left:-9999px">Required</span></label></p>
                </td>
                <td>
                <input type="email" name="username" id="cons_email" value="" size="24" maxlength="255">
                </td>
                </tr>
                
                
                
                
                
                
                <tr>
                <td width="1%">
                
                <p>&nbsp;</p>
                
                </td>
                <td>
                <p><label for="cons_street1">Street 1: </label></p>
                </td>
                <td>
                <input type="text" name="address[street1]" id="cons_street1" value="" size="24" maxlength="128">
                </td>
                </tr>
                
                
                
                <tr>
                <td width="1%">
                
                <p>&nbsp;</p>
                
                </td>
                <td>
                <p><label for="cons_street2">Street 2: </label></p>
                </td>
                <td>
                <input type="text" name="address[street2]" id="cons_street2" value="" size="24" maxlength="128">
                </td>
                </tr>
                
                
                 
                
                
                
                <tr valign="bottom">
                <td width="1%">
                
                <p>&nbsp;</p>
                
                </td>
                <td>
                <p><label for="cons_city">City: </label></p>
                </td>
                <td>
                <input type="text" name="address[city]" id="cons_city" value="" size="24" maxlength="64">
                </td>
                </tr>
                
                
                
                <tr valign="bottom">
                <td width="1%">
                
                <p>&nbsp;</p>
                
                </td>
                <td>
                <p><label for="cons_state">State / Province: </label></p>
                </td>
                <td>
                <select name="address[state]" id="cons_state" size="1">
                <option></option>
                <option value="AK">AK</option>
                <option value="AL">AL</option>
                <option value="AR">AR</option>
                <option value="AZ">AZ</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DC">DC</option>
                <option value="DE">DE</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="IA">IA</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="MA">MA</option>
                <option value="MD">MD</option>
                <option value="ME">ME</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MO">MO</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="NE">NE</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NV">NV</option>
                <option value="NY">NY</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VA">VA</option>
                <option value="VT">VT</option>
                <option value="WA">WA</option>
                <option value="WI">WI</option>
                <option value="WV">WV</option>
                <option value="WY">WY</option>
                <option value="AS">AS</option>
                <option value="FM">FM</option>
                <option value="GU">GU</option>
                <option value="MH">MH</option>
                <option value="MP">MP</option>
                <option value="PR">PR</option>
                <option value="PW">PW</option>
                <option value="VI">VI</option>
                <option value="AA">AA</option>
                <option value="AE">AE</option>
                <option value="AP">AP</option>
                <option value="AB">AB</option>
                <option value="BC">BC</option>
                <option value="MB">MB</option>
                <option value="NB">NB</option>
                <option value="NL">NL</option>
                <option value="NS">NS</option>
                <option value="NT">NT</option>
                <option value="NU">NU</option>
                <option value="ON">ON</option>
                <option value="PE">PE</option>
                <option value="QC">QC</option>
                <option value="SK">SK</option>
                <option value="YT">YT</option>
                <option value="None">None</option>
                
                </select>
                <script type="text/javascript">

                var comp = new ObservableComponent('cons_state', '');
                comp.hide = function(_hidden)
                {
                var _display = _hidden ? 'none' : '';
                set_display ('cons_state_Row', _display);
                this.disable_submit_flag (_hidden);
                } 
              
                </script>
                <noscript><br/>Required</noscript>
                
                </td>
                </tr>
                
                
                
                <tr valign="bottom">
                <td width="1%">
                
                <p>&nbsp;</p>
                
                </td>
                <td>
                <p><label for="cons_zip_code">ZIP / Postal Code: </label></p>
                </td>
                <td>
                <input type="text" name="address[zipCode]" id="cons_zip_code" value="" size="15" maxlength="40">
                </td>
                </tr>
                
                
                
                
                
                <tr>
                <td width="1%">
                
                <p>&nbsp;</p>
                
                </td>
                <td>
                <p><label for="cons_country">Country: </label></p>
                </td>
                <td class="NetscapeFix">
                <select name="address[country]" id="cons_country" size="1">
                <option></option>
                <%- countries %>
                
                </select>
                <script type="text/javascript">

                var comp = new ObservableComponent('cons_country', '');
                comp.hide = function(_hidden)
                {
                var _display = _hidden ? 'none' : '';
                set_display ('cons_country_Row', _display);
                this.disable_submit_flag (_hidden);
                } 
              
                </script>
                <noscript><br/>Required</noscript>
                
                </td>
                </tr>
                
                
                
                
                
                
                
                <tr>
                <td width="1%">
                
                <p>&nbsp;</p>
                
                </td>
                <td>
                <p><label for="cons_phone">Phone Number: </label></p>
                </td>
                <td>
                <input type="tel" name="phone" id="cons_phone" value="" size="15" maxlength="50">
                </td>
                </tr>
                
                
                
                <tr>
                <td width="1%">
                
                <p>&nbsp;</p>
                
                </td>
                <td>
                <p><label for="cons_employer">Employer: </label></p>
                </td>
                <td>
                <input type="text" name="employer" id="cons_employer" value="" size="24" maxlength="100">
                </td>
                </tr>
                
                
                
                
                <tr>
                <td width="1%">
                
                <p>&nbsp;</p>
                
                </td>
                <td>
                <p><label for="cons_gender">Gender: </label></p>
                </td>
                <td class="NetscapeFix">
                <select name="gender" id="cons_gender" size="1">
                <option></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                
                </select>
                <script type="text/javascript">

                var comp = new ObservableComponent('cons_gender', '');
                comp.hide = function(_hidden)
                {
                var _display = _hidden ? 'none' : '';
                set_display ('cons_gender_Row', _display);
                this.disable_submit_flag (_hidden);
                } 
              
                </script>
                <noscript><br/>Required</noscript>
                
                </td>
                </tr>
                
                
                
                <tr>
                <td width="1%">
                
                <p>&nbsp;</p>
                
                </td>
                <td>
                <label>Date of Birth: </label>
                </td>
                <td class="NetscapeFix">
                <fieldset>
                <legend><span class="aural-only">Date of Birth:</span></legend>
                <span id="cons_birth_date_date" title="Date:">
                
                <select name="dob[month]" id="cons_birth_date_MONTH" title="Month">
                
                
                <option value="0" selected="selected">Month
                
                </option>
                
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Aug</option>
                <option value="9">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
                </select>
                
                <select name="dob[day]" id="cons_birth_date_DAY" title="Day">
                
                
                <option value="0" selected="selected">Day
                
                </option>
                
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                </select>
                
                <select name="dob[year]" id="cons_birth_date_YEAR" title="Year">
                
                
                <option value="0" selected="selected">Year
                
                </option>
                
                <option value="1900">1900</option>
                <option value="1901">1901</option>
                <option value="1902">1902</option>
                <option value="1903">1903</option>
                <option value="1904">1904</option>
                <option value="1905">1905</option>
                <option value="1906">1906</option>
                <option value="1907">1907</option>
                <option value="1908">1908</option>
                <option value="1909">1909</option>
                <option value="1910">1910</option>
                <option value="1911">1911</option>
                <option value="1912">1912</option>
                <option value="1913">1913</option>
                <option value="1914">1914</option>
                <option value="1915">1915</option>
                <option value="1916">1916</option>
                <option value="1917">1917</option>
                <option value="1918">1918</option>
                <option value="1919">1919</option>
                <option value="1920">1920</option>
                <option value="1921">1921</option>
                <option value="1922">1922</option>
                <option value="1923">1923</option>
                <option value="1924">1924</option>
                <option value="1925">1925</option>
                <option value="1926">1926</option>
                <option value="1927">1927</option>
                <option value="1928">1928</option>
                <option value="1929">1929</option>
                <option value="1930">1930</option>
                <option value="1931">1931</option>
                <option value="1932">1932</option>
                <option value="1933">1933</option>
                <option value="1934">1934</option>
                <option value="1935">1935</option>
                <option value="1936">1936</option>
                <option value="1937">1937</option>
                <option value="1938">1938</option>
                <option value="1939">1939</option>
                <option value="1940">1940</option>
                <option value="1941">1941</option>
                <option value="1942">1942</option>
                <option value="1943">1943</option>
                <option value="1944">1944</option>
                <option value="1945">1945</option>
                <option value="1946">1946</option>
                <option value="1947">1947</option>
                <option value="1948">1948</option>
                <option value="1949">1949</option>
                <option value="1950">1950</option>
                <option value="1951">1951</option>
                <option value="1952">1952</option>
                <option value="1953">1953</option>
                <option value="1954">1954</option>
                <option value="1955">1955</option>
                <option value="1956">1956</option>
                <option value="1957">1957</option>
                <option value="1958">1958</option>
                <option value="1959">1959</option>
                <option value="1960">1960</option>
                <option value="1961">1961</option>
                <option value="1962">1962</option>
                <option value="1963">1963</option>
                <option value="1964">1964</option>
                <option value="1965">1965</option>
                <option value="1966">1966</option>
                <option value="1967">1967</option>
                <option value="1968">1968</option>
                <option value="1969">1969</option>
                <option value="1970">1970</option>
                <option value="1971">1971</option>
                <option value="1972">1972</option>
                <option value="1973">1973</option>
                <option value="1974">1974</option>
                <option value="1975">1975</option>
                <option value="1976">1976</option>
                <option value="1977">1977</option>
                <option value="1978">1978</option>
                <option value="1979">1979</option>
                <option value="1980">1980</option>
                <option value="1981">1981</option>
                <option value="1982">1982</option>
                <option value="1983">1983</option>
                <option value="1984">1984</option>
                <option value="1985">1985</option>
                <option value="1986">1986</option>
                <option value="1987">1987</option>
                <option value="1988">1988</option>
                <option value="1989">1989</option>
                <option value="1990">1990</option>
                <option value="1991">1991</option>
                <option value="1992">1992</option>
                <option value="1993">1993</option>
                <option value="1994">1994</option>
                <option value="1995">1995</option>
                <option value="1996">1996</option>
                <option value="1997">1997</option>
                <option value="1998">1998</option>
                <option value="1999">1999</option>
                <option value="2000">2000</option>
                <option value="2001">2001</option>
                <option value="2002">2002</option>
                <option value="2003">2003</option>
                <option value="2004">2004</option>
                <option value="2005">2005</option>
                <option value="2006">2006</option>
                <option value="2007">2007</option>
                <option value="2008">2008</option>
                <option value="2009">2009</option>
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                
                </select>
                </span>
                </fieldset>
                </td>
                </tr>
                
                
                
                
                <tr>
                <td width="1%">
                <p>&nbsp;</p>
                </td>
                <td colspan="2">
                <p class="AutoOptInWarningMessage">If you respond and have not already registered, you will receive periodic updates and communications from World Relief.</p>
                </td>
                </tr>
                
                
                
                
                
                
                
                
                
                </tbody></table>
                
                
                
                
                <br>
                </td>
                
                </tr>
                <tr class="old-school" valign="top">
                
                
                
                <td class="req" width="5%" nowrap="nowrap" align="right">
                &nbsp;
                </td>
                
                
                <td>
                <fieldset>
                <div>
                <legend class="surveyLegend Explicit">
                <span class="legendWrapper" style="display:block; white-space:normal; width:100%;">
                <span class="aural-only" style="position: absolute; left: -9999px;">
                Question - Not Required -
                </span>
                <span>What topics are you interested in hearing about from World Relief?</span>
                </span>
                </legend>
                <table cellspacing="4" cellpadding="0" border="0">
                <tbody><tr valign="top">
                <td>
                <input type="checkbox" name="topics[advocacy]" id="6303_1020_2_1280_1" class="checkbox" value="true" checked="checked">
                </td>
                <td>
                <p><label for="6303_1020_2_1280_1" class="wrapable">Advocacy</label></p>
                </td>
                </tr>
                <tr valign="top">
                <td>
                <input type="checkbox" name="topics[churchEmpowerment]" id="6303_1020_2_1280_2" class="checkbox" value="true" checked="checked">
                </td>
                <td>
                <p><label for="6303_1020_2_1280_2" class="wrapable">Church Empowerment</label></p>
                </td>
                </tr>
                <tr valign="top">
                <td>
                <input type="checkbox" name="topics[disasterRelief]" id="6303_1020_2_1280_3" class="checkbox" value="true" checked="checked">
                </td>
                <td>
                <p><label for="6303_1020_2_1280_3" class="wrapable">Disaster Relief</label></p>
                </td>
                </tr>
                <tr valign="top">
                <td>
                <input type="checkbox" name="topics[internationalWork]" id="6303_1020_2_1280_4" class="checkbox" value="true" checked="checked">
                </td>
                <td>
                <p><label for="6303_1020_2_1280_4" class="wrapable">International Work</label></p>
                </td>
                </tr>
                <tr valign="top">
                <td>
                <input type="checkbox" name="topics[refugee]" id="6303_1020_2_1280_5" class="checkbox" value="true" checked="checked">
                </td>
                <td>
                <p><label for="6303_1020_2_1280_5" class="wrapable">Refugee + Immigrants</label></p>
                </td>
                </tr>
                <tr valign="top">
                <td>
                <input type="checkbox" name="topics[volunteer]" id="6303_1020_2_1280_6" class="checkbox" value="true" checked="checked">
                </td>
                <td>
                <p><label for="6303_1020_2_1280_6" class="wrapable">Volunteer</label></p>
                </td>
                </tr>
                
                </tbody></table>
                <br>
                </div>
                </fieldset>
                </td>
                
                </tr>
                <tr class="old-school" valign="top">
                
                <td class="req" width="5%" nowrap="nowrap" align="right">
                &nbsp;
                </td>
                
                
                <td>
                <p>* Employer is for employee matching</p>
                </td>
                
                </tr>
                
                <tr>
                <td colspan="3" align="center">
                <input type="submit" name="ACTION_SUBMIT_SURVEY_RESPONSE" id="ACTION_SUBMIT_SURVEY_RESPONSE" value="Submit" class="Button">
                </td>
                </tr>
                </tbody></table>
                
                <input type="hidden" name="SURVEY_ID" id="SURVEY_ID" value="1020">
                <input type="hidden" name="USER_HAS_TAKEN" id="USER_HAS_TAKEN" value="null">
                <input type="hidden" name="SURVEY_IGNORE_ERRORS" id="SURVEY_IGNORE_ERRORS" value="TRUE">
                <input type="hidden" name="QUESTION_STAG_APP_ID" id="QUESTION_STAG_APP_ID" value="">
                <input type="hidden" name="QUESTION_STAG_APP_REF_ID" id="QUESTION_STAG_APP_REF_ID" value="">
                <input type="hidden" name="QUESTION_STAG_CTX_TYPE" id="QUESTION_STAG_CTX_TYPE" value=""> 
                
                <input type="hidden" name="ERRORURL" id="ERRORURL" value="/account/register">
                
                <div style="display:none">
                <label for="denySubmit">Spam Control Text:</label>&nbsp;
                <input type="text" name="denySubmit" id="denySubmit" value="" alt="This field is used to prevent form submission by scripts.">&nbsp;Please leave this field empty
                </div>
                </form>
                <p></p><br> 
            </div>
        </div>
        <!-- End Page Content -->
<%- include('partials/footer') %>