<%- include('partials/header') %>
    <div id="s63">





        <script type="text/javascript">

            var submitted = false;
            function checkDoubleClick() {
                if (submitted) {
                    alert("This form has already been submitted.  Please wait.");
                    return false;
                }
                else {
                    submitted = true;
                    return masterSubmit();
                }
            }
            var process_contains_errors = false;
            function resizeContentVertically() {
                var contentLayer = getObj("contentScrollLayer");
                var controlBarBottom = getObj("bottomControlBarTopLayer");
                var controlBarTop = getObj("bottomControlBarBotLayer");
                if (!contentLayer || !controlBarBottom || !controlBarTop)
                    return;
                var controlBarTopPos = returnPosition(controlBarTop);
                var controlBarBottomPos = returnPosition(controlBarBottom);
                var actualCBHeight = controlBarTopPos.y - controlBarBottomPos.y;
                var totalHeight = 0;
                if (window.innerHeight)
                    totalHeight = window.innerHeight
                else if (document.documentElement && document.documentElement.clientHeight)
                    totalHeight = document.documentElement.clientHeight;
                else
                    totalHeight = document.body.clientHeight;
                if (!totalHeight)
                    return;
                var contentPos = returnPosition(contentLayer);
                var staticContentHeight = actualCBHeight + contentPos.y;
                var scrollingHeight = totalHeight - staticContentHeight;
                if (scrollingHeight < 20)
                    scrollingHeight = 20;
                contentLayer.style.height = scrollingHeight + "px";
            }
        </script>
        <noscript></noscript>
        <span>&nbsp;</span> <br>
        <div id="appAreaNoWidthClearFix">
            <div id="login-div-content">
                <div class="outer-border">
                    <div class="header-block">
                        <div class="banner-header">
                            <strong>
                                <a href="/account/login">
                                    User Login
                                </a>
                                &nbsp;&gt;&nbsp;Reset Password
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="outer-border">
                    <span>&nbsp; </span> <br>
                    <table width="80%" cellspacing="0" cellpadding="2" border="0">
                        <tbody>
                            <tr valign="top">
                                <td width="1%">
                                    &nbsp;
                                </td>
                                <td width="70%">
                                    <form action="/account/reset_password" name="process"
                                        id="process" method="post" style="margin:0;">
                                        <div class="login-form">
                                            <div class="input-border">
                                                <table class="ProcessAppTable" cellspacing="0" cellpadding="2">
                                                    <tbody>
                                                        <tr>
                                                            <td id="contentScrollLayer" width="100%" valign="top">

                                                                <div class="field-content">
                                                                </div>
                                                                <div class="field-content">
                                                                </div>
                                                                <div class="field-content">
                                                                </div>
                                                                <div class="field-content">
                                                                </div>
                                                                <table summary="layout table">
                                                                    <tbody>
                                                                        <% if(error && error.length > 0) { %>
                                                                            <tr>
                                                                                <td colspan="3">
                                                                                <span class="ErrorMessage"><%= error %></span>
                                                                                </td>
                                                                            </tr>
                                                                        <% } %>
                                                                        <% if(success && success.length > 0) { %>
                                                                            <tr>
                                                                                <td colspan="3">
                                                                                <span class="SuccessMessage"><%= success %></span>
                                                                                </td>
                                                                            </tr>
                                                                        <% } %>
                                                             
                                                                        <tr id="user_namerow1">
                                                                            <td class="field-required" valign="bottom">


                                                                                <span class="RequiredField"
                                                                                    title="Required.">
                                                                                    *
                                                                                </span>


                                                                            </td>
                                                                            <td colspan="3" valign="bottom">
                                                                                <label for="user_namename">User Name:</label>


                                                                            </td>
                                                                            <td>


                                                                                <input name="username"
                                                                                    id="user_namename"
                                                                                    value="<%= duser.username %>"
                                                                                    size="20" disabled="disabled"
                                                                                    type="text">

                                                                            </td>

                                                                        </tr>

                                                                        <tr id="passwordrow1">
                                                                            <td class="field-required" valign="bottom">


                                                                                <span class="RequiredField"
                                                                                    title="Required.">
                                                                                    *
                                                                                </span>


                                                                            </td>
                                                                            <td colspan="3" valign="bottom">
                                                                                <label for="passwordname">New Password:</label>

                                                                                <input type="hidden"
                                                                                    name="user"
                                                                                    id="passwordsubmit" value="<%= duser._id %>">


                                                                            </td>
                                                                            <td>


                                                                                <input name="password"
                                                                                    id="passwordname" value="" size="20"
                                                                                    maxlength="30" type="password">

                                                                            </td>

                                                                        </tr>

                                                                        <tr id="password_repeatrow1">
                                                                            <td class="field-required" valign="bottom">


                                                                                <span class="RequiredField"
                                                                                    title="Required.">
                                                                                    *
                                                                                </span>


                                                                            </td>
                                                                            <td colspan="3" valign="bottom">
                                                                                <label for="password_repeatname">Retype Password:</label>

                                                                                <input type="hidden"
                                                                                    name="password_repeatsubmit"
                                                                                    id="password_repeatsubmit"
                                                                                    value="true">


                                                                            </td>
                                                                            <td>


                                                                                <input name="password_repeatname"
                                                                                    id="password_repeatname" value=""
                                                                                    size="20" maxlength="30"
                                                                                    type="password">

                                                                            </td>

                                                                        </tr>

                                                                        <tr id="password_hintrow1">
                                                                            <td class="field-required" valign="bottom">


                                                                                &nbsp;


                                                                            </td>
                                                                            <td colspan="3" valign="bottom">
                                                                                <label for="password_hintname">Password Hint:</label>

                                                                                <input type="hidden"
                                                                                    name="token"
                                                                                    id=""
                                                                                    value="<%= token %>">


                                                                            </td>
                                                                            <td>


                                                                                <input name="passwordHint"
                                                                                    id="password_hintname" value=""
                                                                                    size="20" maxlength="40"
                                                                                    type="text">

                                                                            </td>

                                                                        </tr>

                                                                    </tbody>
                                                                </table>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="login-div-content" class="actions">


                                                <input class="uc-button" type="submit" id="pstep_finish"
                                                    name="pstep_finish" value="Submit" title="Submit">
                                                &nbsp;









                                            </div>
                                            <input type="hidden" name="rtoken" id="rtoken"
                                                value="30-vlDwaANVbwmh51PDBhX2k">
                                            <input type="hidden" name="mfc_pref" id="mfc_pref" value="T">
                                            <input type="hidden" name="username" id="USERNAME"
                                                value="<%= duser.username %>">

                                            <input type="hidden" name="chgpwd" value="reset_pswd">
                                        </div>
                                    </form>
                                </td>
                                <td width="1%">
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <div class="footer-block"> &nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>