<%- include ("partials/header") %>


    <!-- Header -->
    <!-- Header -->
    <div class="header bg-default  pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-12">
              <h6 class="h2 text-white d-inline-block mb-0">Withdraw</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="/"><i class="fas fa-home text-default"></i></a></li>
                  <li class="breadcrumb-item active">Withdraw</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="card">
            <div class="card-body">
                <div class="card-text">
                    <h3 class="text-capitalize">Hi <%= user.firstname %></h3>
                    <p>Your withdrawal of <%= config.currency_unit %><%= amount %> in <%= method %> from your account is received and is being processed.</p>
                    <p>Thank you for investing with us.</p>
                    <br>
                    <p>Regards,</p>
                    <p><%= config.name || 'Investment project' %>.</p>
                </div>
                <div class="card-footer">
                  <a href="/dashboard/withdraw/history" class="btn btn-default">Ok</a>
                </div>
            </div>
        </div>
      
      <!-- Footer -->
      
<%- include ("partials/footer") %>
  