<%- include('../partials/header') %>
    <!-- Header -->
    <div class="header bg-default  pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-12">
              <h6 class="h2 text-white d-inline-block mb-0">Transactions</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="/"><i class="fas fa-home text-default"></i></a></li>
                  <li class="breadcrumb-item active">Transactions</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row mt-4 justify-content-center">
            <div class="">
                <div class="card" style="max-width: 95vw;">      
                    <% if(!showUser) { %>
                      <div class="card-header">
                          <h6 class="heading-small text-muted"><a href="/admin/users/<%= duser._id %>"><%= duser.username %> - <%= duser.firstname %> <%= duser.lastname %></a></h6>
                      </div>       
                      <% } else {%>
                        <div class="card-header">
                          <div class="title" style="color:#66615b;display: flex;justify-content: space-between;">
                              <h4 style="margin-top: auto;">Deposits </h4>
                              <div>                               
                                  <form action="/admin/transactions" method="get">
                                      <input type="search" placeholder="User or transaction ID" class="form-control" name="search" style="height: 35px;">
                                  </form>
                              </div>
                          </div>
                          <!-- <p class="category">Here is a subtitle for this table</p> -->
                        </div> 
                      <% } %>       
                    <div class="table-responsive">
                    <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <% if(showUser) { %>
                                      <th class="text-capitalize">User</th>
                                    <% } %>                                    
                                    <th class="text-capitalize">Amount(USD)</th>
                                    <th class="text-capitalize">Payment type</th>
                                    <th class="text-capitalize">Firstname</th>
                                    <th class="text-capitalize">Lastname</th>
                                    <th class="text-capitalize">Date</th>
                                    <th class="text-capitalize text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                              <% if(transactions.length) { %>
                                <% transactions.forEach((transaction) => { %>
                                    <tr style="text-align:left">
                                        <% if(showUser) { %>
                                          <td><a href="/admin/users/<%= transaction.user.id %>"><%= transaction.user.username || '-' %></a></td>
                                        <% } %> 
                                        <td>$<%= transaction.amount %></td>
                                        <td><%= transaction.paymentType %></td>
                                        <td><%= transaction.firstname %></td>
                                        <td><%= transaction.lastname %></td>
                                        <td><%= ((new Date(transaction.date)).toLocaleDateString()) %></td>                                      
                                        <td>
                                          <% if(pending) { %>
                                            <form action="/admin/transactions/<%= transaction._id %>?_method=PUT" method="POST" class="d-inline">
                                              <input type="hidden" name="action" value="approve">
                                              <button type="submit" class="btn btn-sm btn-success">Approve</button>
                                            </form>
                                            <form action="/admin/transactions/<%= transaction._id %>?_method=PUT" method="POST" class="d-inline">
                                              <input type="hidden" name="action" value="reject">
                                              <button type="submit" class="btn btn-sm btn-warning">Reject</button>
                                            </form>
                                          <% } else { %>
                                            <a href="/admin/transactions/<%= transaction._id %>"><i class="fa fa-edit text-default"></i></a>
                                            <form action="/admin/transactions/<%= transaction._id %>?_method=DELETE" method="POST" class="d-inline"
                                              onsubmit="return confirm('Are you sure you want to delete this transaction?');">
                                              <input type="hidden" name="action" value="approve">
                                              <button type="submit" class="btn btn-sm btn-warning">
                                                <i class="fa fa-trash-alt"></i>
                                              </button>
                                            </form>
                                          <% } %>
                                        </td>                                      
                                    </tr>
                                <% }); %>  
                              <% } else { %>
                                <tr>
                                  <th colspan="4" class="lead text-center" style="font-size: 1.25rem; font-weight: 300;">
                                    No <%= pending? 'pending': '' %> donations yet!
                                  </th>
                                </tr>
                              <% } %>                              
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 py-3" style="border-top: 1px solid rgba(0,0,0,.1)">
                      <div class="row text-center">
                        <div class="col-4">
                          <a href="<%= `/admin/transactions?offset=${offset - end}${pending? '&pending=true': ''}${search? '&search=' + encodeURI(search) : ''}` %>" 
                          class="btn btn-primary p-1 float-right <%= offset <= 0? 'disabled': '' %>" 
                          style="width: 30px;">
                            <
                          </a>
                        </div>
                        <div class="col-4">
                          <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle text-lowercase p-1" 
                            type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" 
                            aria-expanded="false" style="color:var(--primary); border-color:var(--primary);">
                                <%= offset + 1 %> to <%- offset + end %>
                            </button>
                            <div class="dropdown-menu" style="z-index: 1030;">
                                <% for (var i = 0; i < count; i += end) { %>
                                    <a href="<%= `/admin/transactions?offset=${i}${pending? '&pending=true': ''}${search? '&search=' + encodeURI(search) : ''}` %>" 
                                    class="btn btn-secondary dropdown-item text-lowercase <%= (i + 1) === offset? 'active disabled': '' %>">
                                      <%= i + 1 %> to <%= i+end %>
                                    </a>
                                <% }; %>
                            </div>
                          </div>
                        </div>
                        <div class="col-4">
                          <a href="<%= `/admin/transactions?offset=${offset + end}${pending? '&pending=true': ''}${search? '&search=' + encodeURI(search) : ''}` %>" 
                          class="btn btn-primary p-1 float-left <%= offset >= count - end? 'disabled': '' %>" 
                          style="width: 30px;">
                            >
                          </a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>                    
        </div>
    </div>
      
      <!-- Footer -->

<%- include('../partials/footer') %>