<%- include('../partials/header') %>
<!-- Header -->
    <div class="header bg-default pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0 text-capitalize"><%= duser.firstname %> <%= duser.lastname %></h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home text-default"></i></a></li>
                  <li class="breadcrumb-item active" aria-current="page"><%= duser.firstname %> <%= duser.lastname %></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--6">
      <div class="row justify-content-center">
        <div class=" col-lg-9 ">
          <div class="card">
            <div class="card-body">
                <form method="POST" action="/admin/users/<%= duser._id %>?_method=PUT" novalidate>
                    <h6 class="heading-small text-muted mb-4">User details <span class="float-right">
                        Registered: <%= ((new Date(user.registered)).toLocaleDateString()) %>
                    </span></h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="firstname">Firstname</label>
                            <input type="text" id="firstname" class="form-control" value="<%= duser.firstname %>" name="firstname">
                          </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                              <label class="form-control-label" for="lastname">Lastname</label>
                              <input type="text" id="lastname" class="form-control" value="<%= duser.lastname %>" name="lastname">
                            </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                              <label class="form-control-label" for="username">Email</label>
                              <input type="text" id="username" class="form-control" name="username" value="<%= duser.username %>">
                            </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="phone">Phone</label>
                            <input type="text" id="phone" class="form-control" value="<%= duser.phone %>" name="phone">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="street1">Street 1</label>
                            <input type="text" id="street1" class="form-control" name="address[street1]" value="<%= duser.address.street1 %>">
                          </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="street2">Street 2</label>
                          <input type="text" id="street2" class="form-control" value="<%= duser.address.street2 %>" name="address[street2]">
                        </div>
                      </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="city">City</label>
                            <input type="text" id="city" class="form-control" name="address[city]" value="<%= duser.address.city %>">
                          </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="state">State</label>
                          <input type="text" id="state" class="form-control" value="<%= duser.address.state %>" name="address[state]">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="country">Country</label>
                          <select type="text" id="country" class="form-control" name="address[country]">
                            <option  value="<%= duser.address.country %>"><%= duser.address.country %></option>
                            <%- countries %>
                          </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="state">zipCode</label>
                        <input type="text" id="zipCode" class="form-control" value="<%= duser.address.zipCode %>" name="address[zipCode]">
                      </div>
                    </div>
                  </div>
                    
                      <button type="submit" class="btn btn-default mt-2">Submit</button>
                    </div>
                </form>
                <form action="/admin/users/<%= duser._id %>?_method=DELETE" method="POST" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this user?');">
                    <button type="submit" data-route="" class="border-0 float-right" style="position: relative; top: -30px;">
                        <i class="fa fa-trash-alt text-danger"></i>
                    </a>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between" style="flex-wrap: wrap;">                  
                    <h6 class="heading-small text-muted mb-4">
                        <a href="/admin/users/<%= duser.id %>/transactions" class="">View donations</a>
                    </h6>
                    <h6 class="heading-small text-muted mb-4">
                    </h6>
                    <h6 class="heading-small text-muted mb-4">
                        <a href="/admin/users/<%= duser.id %>/change_password" class="">Change password</a>
                    </h6>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- Footer -->

<%- include('../partials/footer') %>